<h1>Lista de Productos</h1>

{{#each products}}
  <div>
    <h3>{{this.title}}</h3>
    <p>{{this.description}}</p>
    <p>Precio: {{this.price}}</p>
    <p>Stock: {{this.stock}}</p>

    <button onclick="addToCart('{{this._id}}')">
      Agregar al carrito
    </button>

    <hr>
  </div>
{{/each}}

<div>
  {{#if hasPrevPage}}
    <a href="/products?page={{prevPage}}">Anterior</a>
  {{/if}}

  {{#if hasNextPage}}
    <a href="/products?page={{nextPage}}">Siguiente</a>
  {{/if}}
</div>

<script>
  async function addToCart(productId) {
    let cartId = localStorage.getItem("cartId");

    if (!cartId) {
      const response = await fetch("/api/carts", {
        method: "POST"
      });

      const newCart = await response.json();
      cartId = newCart._id;

      localStorage.setItem("cartId", cartId);
    }

    await fetch(`/api/carts/${cartId}/products/${productId}`, {
  method: "POST"
});

    alert("Producto agregado al carrito");
  }
</script>